::selection {
  background: purple;
  color: lemonchiffon;
}

:root {
  color: #213;
  background: #ee9;
}

:link {
  color: mediumblue;
}

:visited {
  color: purple;
}

:focus {
  text-shadow:
    -5px 0 0 purple,
    3px 3px 0 purple,
    3px -3px 0 purple;
}
