html {
  font-family: monospace;
  font-size: calc(1ch + 2vmin + 3vmax);
}

body {
  padding: 2vmin;
  padding-inline-start: 10vw;
  padding-inline-end: 1vw;
  margin: auto;
  overflow-wrap: anywhere;
}

figure {
  margin: auto;
}

nav {
  font-size: max(1rem, 44px);
  font-weight: bold;
  margin-block: 5vh;
}

dt {
  font-weight: bold;
  margin: 0;
  margin-block: 5vh;
}

dd {
  margin: 0;
}

dd:first-of-type {
  margin-inline-start: -1ch;
}

dd b {
  text-transform: uppercase;
}

:focus {
  outline-style: dashed;
  outline-width: thick;
}
